
@model InstituteOfTechnology.Models.Courses
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create New Course</h2>


@using (Html.BeginForm("SaveCourse", "Course"))

{

    <div class="form-group">
        @*@Html.LabelFor(m => m.Id)
            @Html.TextBoxFor(m => m.Id, new { @class = "form-control" })*@

        @Html.LabelFor(m => m.CourseName)
        @Html.TextBoxFor(m => m.CourseName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.CourseName)
        <br />

        @Html.LabelFor(m => m.CourseDescription)
        @Html.TextBoxFor(m => m.CourseDescription, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.CourseDescription)
        <br />
        @Html.LabelFor(m => m.TutorName)
        @Html.TextBoxFor(m => m.TutorName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.TutorName)
        <br />

        @Html.LabelFor(m => m.CourseRating)
        @Html.TextBoxFor(m => m.CourseRating, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.CourseRating)

    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    @Html.ActionLink("Back To List", "List")
    
}








